@import '../../styleguide/_breakpoints';
@import '../../helpers/_mixins';

.FlexboxContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  @include respond-to(small) {
    display: block;
  }
}
