@import '../../styleguide/_breakpoints';
@import '../../helpers/_mixins';

.FlexboxContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  &--full-height {
    height: 100vh;
  }

  @include respond-to(small) {
    display: block;
  }
}
