$black: #000000;
$white: #FFFFFF;
$grey-1: #F4F4F4;
$grey-2: #D0D8DB;
$grey-3: #879cab;
$vimeo-blue: #00ADEF;
$vimeo-secondary-blue: #456;
$error-red-dark: #A94442;
$error-red-light: #f2dede;
$green: #56B68B;
$green-secondary: #74C400;
$light-orange: #FED8B1;
