@import '../styleguide/_colors';
@import '../styleguide/_typography';
@import '../styleguide/_gutters';
@import '../helpers/_mixins';

.ChannelHistoryCollection {
  background: $grey-1;
  border-radius: 3px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  @include prefix(flex, 1, webkit ms);
  margin-bottom: $medium-gutter;
  padding: $medium-gutter;

  &__title {
    @include alert-copy();
    margin-bottom: $small-gutter;
    text-align: center;
  }

  &__warning {
    @include generic-copy();
    color: $vimeo-secondary-blue;
    display: block;
    font-style: italic;
    text-align: center;
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    list-style: none;
  }
}
